* {

    margin: 0;
    padding: 0;
}

#grid_container {

    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-col {

    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-block {
    display: flex;
    flex: 1;
    border: 5px solid blue;
}